/*************/
/** GENERAL **/
/*************/
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 4.2fr 1fr;
    grid-template-rows: 63px auto;
}

section,
article {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    color: #333;
}


/************/
/** HEADER **/
/************/
#navigation-header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

nav {
    padding: 0 30px;
    box-shadow: 0px 6px 10px #00000019;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#sorta-kinda-logo {
    font-weight: 900;
    font-size: 20px;
    color: #333;
}

#user-name {
    justify-self: end;
    font-weight: 500;
    font-size: 20px;
    color: #333;
}


/**********/
/** MAIN **/
/**********/
main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: repeat(auto, 3);
}

#add-section {
    margin: 77px 0 0 0;
    grid-row: 1 / 2;
}

#card-section {
    margin: 70px 0 0 0;
    grid-row: 2 / 3;
    display: flex;
}

#table-section {
    margin: 70px 0 0 0;
    grid-row: 3 / 4;
}

/** TODO BUTTON **/
#btn-add-todo {
    width: 183px;
    height: 51px;
    font-weight: 500;
    font-size: 23px;
    color: #2D2F39;
    border: 1px solid #333;
    border-radius: 0;
    background-color: #FFF;
}

#btn-add-todo i {
    color: #1F1F1F;
}

#btn-add-todo:hover {
    border: 1px solid #333;
    border-radius: 0;
    background-color: #56D4C2;
}


/***********/
/** CARDS **/
/***********/
.todo-card + .todo-card {
    margin-left: 40px;
}

.todo-card {
    padding: 27px 22px 24px 30px;
    box-shadow: 0px 8px 16px #5DD3D829;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(auto, 3);
    column-gap: 4px;
    align-items: end; /* To keep the buttons at the bottom of the card */
    width: 100%; /* To make the cards the same size */
    word-wrap: break-word; /* To prevent the paragraph from going outside the box */
}

.todo-card h3 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.todo-card p {
    margin: 5px 0 22px 0;
    font-weight: 400;
    font-size: 14px;
    color: #333;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    align-self: start;
}

.todo-card button {
    font-weight: 700;
    font-size: 11px;
    color: #FFF;
    width: 77px;
    height: 23px;
    border-radius: 5px;
    border: none;
    outline: none; /* So the button does not have a selection-"border" when it is selected */
    grid-row: 3 / 4;
    justify-self: end;
}

.todo-card button:hover {
    opacity: 0.7;
}

.btn-delete {
    background-color: #EF3340;
    grid-column: 1 / 2;
}

.btn-complete {
    background-color: #56D4C2;
    grid-column: 2 / 3s;
}

/* Not part of the assignment, just to make it look better */
.todo-card button:active {
    opacity: 1;
    transform: translateY(1px);
}

.todo-card button:disabled {
    opacity: 0.3;
}


/*****************************/
/** COMPLETED TODOS - TABLE **/
/*****************************/
#table-section {
    display: grid;
    grid-template-rows: repeat(auto, 3);
    margin-bottom: 40px;
}

#table-section h3 {
    grid-row: 1 / 2;
}


/** CHECKMARK **/
/* Got some of this code from w3schools.com, they are marked in comments. */
.sorting-checkbox {
    margin: 5px 80px 13px 0;
    grid-row: 2 / 3;
    justify-self: right;
    font-weight: 500;
    font-size: 14px;
    color: #909090;

    /* Code from w3schools.com */
    display: block;
    position: relative;
    padding-left: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox - Code from w3schools.com */
.sorting-checkbox input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
  
/* Create a custom checkbox - Code from w3schools.com, but with some changes */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border: 2px solid #000;
    border-radius: 2px;
    cursor: pointer;
}

/* Create the checkmark/indicator (hidden when not checked) - Code from w3schools.com */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked - Code from w3schools.com */
.sorting-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Changed the color of the border when the checkmark is checked. */
.sorting-checkbox input:checked ~ .checkmark {
    border: 2px solid #56D4C2;
}
  
/* Style the checkmark/indicator - Code from w3schools.com */
.sorting-checkbox .checkmark:after {
    left: 5px;
    top: -5px;
    width: 5px;
    height: 12px;
    border: solid #56D4C2;
    border-width: 0 2px 2px 0;
    box-shadow: 
        inset 0 4px 0 0 #FFF, 
        2px 0 1px 0 #FFF;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/** CHECKMARK - END **/


/** TABLE **/
#todo-table {
    border-collapse: collapse;
    grid-row: 3 / 4;
}

#tbl-header {
    font-weight: 500;
    font-size: 14px;
    color: #363636;
}

#tbl-header th {
    padding: 6px 0 6px 35px;
    text-align: left;
    background-color: #E6E6E6;
}

.tbl-row {
    font-weight: 400;
    font-size: 14px;
    color: #8B8B8B;
}

.tbl-row td {
    padding: 13px 0 13px 35px;
    border-bottom: 2px solid rgb(129, 142, 148, 0.1);
}

/* Just to help make it look pretty when the window is resized */
.tbl-row td:nth-child(3) {
    max-width: 210px;
    word-break: break-all;
}


/************************/
/** ADD NEW TODO POPUP **/
/************************/
/* This part is hidden unless the Todo-button is clicked */

/* The Overlay is a box that spans the entire page and blurs the background */
#overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #D5D5D5;
    opacity: 0.7;
    z-index: 10;
}

/* THE POPUP FORM */
.new-todo-popup {
    visibility: hidden;
    position: absolute;
    margin: 10% 22%;
    background-color: #FFF;
    width: 326px;
    height: 378px;
    box-shadow: 0px 1px 8px #00000029;
    border-radius: 8px;
    z-index: 20;
}

.popup-container {
    margin: 0 40px 0 35px;
}

/* The header part of the "New todo"-form */
.new-todo-popup header {
    margin: 0 0 28px 0;
    border-bottom: 0.4px solid #CCC;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.new-todo-popup header h1 {
    margin: 18px 0 12px 21px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #333;
    grid-column: 1 / 2;
}

.new-todo-popup header p {
    margin: 15px 18px 12px 0;
    font-size: 20px;
    color: #B6B6B6;
    grid-column: 2 / 3;
    justify-self: right;
    cursor: pointer;
}

/* The main part of the "New todo"-form */
.popup-container label {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #333;
}

.popup-container label span {
    font-weight: 400;
    color: #959595;
}

.popup-container input[type=text] {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #333;
    margin: 3px 0 17px 0;
    padding: 1px 13px;
    height: 40px;
    width: 100%;
}

/* Create Button */
.btn-create {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFF;
    width: 250px;
    height: 32px;
    border-radius: 0;
    border: none;
    background-color: #56D4C2;
}

.btn-create:hover {
    opacity: 0.7;
}


/*******************/
/** END OF SCRIPT **/
/*******************/